{% extends "base.html" %}
{% load static %}

{% block tilte %}
{% endblock %}

{% block extracss %}
<link href="{% static 'css/searcher-select-developer.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class='tabs tabs_active'>
                <ul class='horizontal'>
                    {% if nav.source == "35毫米" %}
                    <li class="li-35mm enabled-li"><div class="tab enabled">35毫米</div></li>
                    {% else %}
                    <li class="li-35mm"><div class="tab">35毫米</div></li>
                    {% endif %}
                    {% if nav.source == "120" %}
                    <li class="li-120 enabled-li"><div class="tab enabled">120</div></li>
                    {% else %}
                    <li class="li-120"><div class="tab">120</div></li>
                    {% endif %}
                    {% if nav.source == "页片" %}
                    <li class="li-sheet enabled-li"><div class="tab enabled">页片</div></li>
                    {% else %}
                    <li class="li-sheet"><div class="tab">页片</div></li>
                    {% endif %}
                </ul>
                <hr class="custom-1" />
            </div>
            <div class="selector">
                <div class="nav">
                    <h4 class="navigation">{{ nav.source }}>{{ nav.film }}>{{ nav.developer }}</h4>
                </div>
                <div class="selector-area">
                    <h4>可选稀释比例: {{ dilutions_cnt }}</h4>
                    {% for dilution in dilutions %}
                    <div class="selector-element">
                        <a href="javascript:void(0)" class="element_link">{{ dilution }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
{% endblock %}

{% block script_files %}
{% endblock %}

{% block script %}
$(document).ready(function () {
    $('.element_link').click(function () {
        source = $('.navigation').html().split('&\gt;')[0];
        film = $('.navigation').html().split('&\gt;')[1].replace(/\+/g, '^');
        developer = $('.navigation').html().split('&\gt;')[2].replace(/\+/g, '^');
        dilution = $(this).html().replace(/\+/g, '^');
        dilution_display = $(this).html();
        window.location.href = "http://localhost:8000/search/asa_iso?source=" + source + "&film=" + film + "&developer=" + developer + "&dilution=" + dilution;
    });
});
{% endblock %}