server {
  listen  80;
  server_name www.fotolei.cn;
  charset utf-8;

  access_log /var/log/django/ggfilm/access.log;
  error_log  /var/log/django/ggfilm/error.log;

  location / {
    include    uwsgi_params;
    uwsgi_pass 127.0.0.1:8000; 
  }

  location /static {
    alias ${project_path}/ggfilm/static/;
  }

  location /media {
    alias ${project_path}/ggfilm/media/;
  }
}
