.tabs .horizontal {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 36px;
    width: 60%;
    background-color: #e8e8e8;
    list-style: none;
    border: 1px solid #707070;
    border-radius: 6px;
}

.tabs .horizontal li {
    display: inline-block;
    float: left;
    min-width: 33.33%;
    text-align: center;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}

.tabs .horizontal li a {
    display: block;
    width: 100%;
    line-height: 32px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Time New Roman";
    color: #383838;
}

.tabs hr.custom-1 {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tabs hr.custom-2 {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.tabs hr.custom-3 {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.tabs .horizontal .enabled-li {
    background-color: #ffffff;
}

.tabs .horizontal .enabled-li .enabled {
    color: #383838;
}

.tabs .tab-content {
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
}

.tabs .tab-content h4 {
    margin: 0 auto;
    padding: 0 auto;
    line-height: 36px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    text-align: center;
    font-size: 14px;
    font-family: "Time New Roman";
    color: #f8f8f8;
}

.tabs .tab-content .prefix {
    border-bottom: 1px solid #d8d8d8;
}

.tabs .tab-content .prefix p {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    line-height: 32px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Time New Roman";
    background-color: #a8a8a8;
    color: #ffffff;
}

.tabs .tab-content .film {
    border-bottom: 1px solid #d8d8d8;
}

.tabs .tab-content .film a {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    line-height: 40px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Time New Roman";
    color: #000000;
}
